@import "magnific-popup/main";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300,100&subset=latin,cyrillic);

html, body, main, section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
main {
  padding-top: 68px;
}
@media screen and (max-height: 720px) and (min-width: 768px) {
  .row {
    min-height: 720px;
  }
  .row.footer {
    max-height: 100px;
    min-height: 100px;
  }
  .big {
    min-height: 1440px;
  }
  .min {
    min-height: 360px;
  }
}
@media screen and (min-width: 320px) {
  header {
    height: 70px;
    padding: 0;
  }
  .row, .column, .child {
    height: auto;
    width: 100%;
    float: left;
  }
  .video video {
    display: none;
  }
  .filter {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
  }
  .abs {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
  }
  .row.footer {
    height: 100px;
    float: left;
  }
  .crt-logo {
    position: absolute;
    height: 100%;
    width: 131px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
  .crt-logo svg {
    width: 131px;
    margin: 15px 0;
    margin-left: 15px;
  }
  .crt-contact {
    display: none;
  }
  #mobile-menu {
    display: block;
    right: 0px;
  }
  #mobile-previous {
    display: block;
    left: 0px;
  }
  .title {
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .devider {
    width: 20px;
    height: 9px;
    margin: 24px auto 24px;
    display: block;
  }
  .action {
    text-align: center;
  }
  .footer a {
    display: block;
  }
  .footer .column {
    height: 100%;
  }
  .next-arrow {
    right: 8px;
  }
  .crt-container nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
  }
  .crt-container nav.active {
    display: block;
  }
  .crt-container nav a {
    display: block;
  }
  .devider-animate {
    animation: none;
  }
  .s-w-1{
    width: 33.33333%;
  }
  .s-w-2{
    width: 50%;
  }
  .s-w-3{
    width: 66.66666%;
  }
  .s-w-4{
    width: 100%;
  }
  .s-h-1{
    height: 50%;
  }
  .s-h-2{
    height: 100%;
  }
  .s-h-auto{
    height: auto;
  }
  .s-va-center {
    top: 50%;
  }
  .s-va-top {
    top: 0;
  }
  .s-va-bottom {
    bottom: -50%;
  }
  .s-ha-center {
    left: 33.33333%;
  }
  .s-ha-left {
    left: 0;
  }
  .s-ha-right {
    right: 0;
  }
  .s-none {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #mobile-menu {
    right: 25px;
  }
  #mobile-previous {
    left: 25px;
  }
  .head {
    height: calc(90% - 70px);
  }
  .devider {
    margin: 24px auto 100px;
  }
  .row {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .big {
    height: 200%;
  }
  .big .row {
    width: 100%;
    height: 50%;
    position: relative;
  }
  .min {
    height: 50%;
  }
  .column {
    float: left;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    width: 100%;
    min-height: 50%;
  }
  .child {
    float: left;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
  }
  .abs {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    min-height: 50%;
    left: 0;
    bottom: 0;
  }
  .video video {
    display: block;
  }
  .filter {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
  .title {
    font-size: 4.28rem;
    padding-bottom: 10px;
  }
  .row.footer {
    height: 100px;
    float: left;
  }
  .action {
    text-align: left;
  }
  .next-arrow {
    right: -17px;
  }
  .l-w-1{
    width: 33.33333%;
  }
  .l-w-2{
    width: 50%;
  }
  .l-w-3{
    width: 66.66666%;
  }
  .l-w-4{
    width: 100%;
  }
  .l-h-1{
    height: 50%;
  }
  .l-h-2{
    height: 100%;
  }
  .l-va-center {
    top: 50%;
  }
  .l-va-top {
    top: 0;
  }
  .l-va-bottom {
    bottom: 0;
  }
  .l-va-bottom-plus {
    top: 100%;
  }
  .l-ha-center {
    left: 33.33333%;
  }
  .l-ha-left {
    left: 0;
  }
  .l-ha-right {
    right: 0;
    left: inherit;
  }
  .s-none {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: auto;
    padding: 0 50px;
  }
  nav.active {
    background-color: rgba(0,0,0,0) !important;
  }
  .crt-logo svg {
    width: 131px;
    margin: 15px 0;
  }
  #mobile-menu {
    display: none;
  }
  #mobile-previous {
    display: none;
  }
  .row.footer {
    height: 100px;
    float: left;
  }
  .first .column, .first .column .filter {
    padding-top: 40px;
  }
  .column.xl-w-4 .text {
    width: 33.33333%;
  }
  .crt-container nav {
    position: relative;
    display: inline-block;
    top: 0;
    width: auto;
  }
  .crt-logo {
    z-index: 1;
    right: inherit;
  }
  .crt-container nav a {
    display: inline-block;
  }
  .crt-contact {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 0;
  }
  .devider-animate {
    animation: devider-animate 2s infinite linear;
  }
  .xl-w-1{
    width: 33.33333%;
  }
  .xl-w-2{
    width: 50%;
  }
  .xl-w-3{
    width: 66.66666%;
  }
  .xl-w-3 .text {
    width: 50%;
  }
  .xl-w-4{
    width: 100%;
  }
  .xl-h-1{
    height: 50%;
  }
  .xl-h-2{
    height: 100%;
  }
  .xl-va-center {
    top: 50%;
  }
  .xl-va-top {
    top: 0;
  }
  .xl-va-bottom {
    bottom: 0;
    top: inherit;
  }
  .xl-ha-center {
    left: 33.33333%;
  }
  .xl-ha-left {
    left: 0;
    right: inherit;
  }
  .xl-ha-right {
    right: 0;
    left: inherit;
  }
  .s-none {
    display: block;
  }
}
.color-invert:hover {
  color: rgba(0,0,0,1);
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.crt-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.crt-container nav a {
  padding: 25px 10px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,.8);
  font-size: 12px;
}
.crt-container nav a:hover {
  color: rgba(255,255,255,1);
}
#text {
  fill: #ffffff;
}
#infinity {
  fill-rule: evenodd;
  fill: #5990CE;
}
.phone-number {
  display: inline-block;
  color: rgba(255,255,255,1);
  text-decoration: none;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
}
.fb-icon {
  display: inline-block;
  width: 29px;
  height: 29px;
  vertical-align: middle;
}
.fb-icon svg {
  width: 100%;
  height: 100%;
}
.fb-1 {
  fill: #3498db;
}

.fb-2 {
  fill: #fff;
  fill-rule: evenodd;
}
.head > .row {
  height: 100%;
  text-align: center;
}
.head .filter {
  display: table;
}
.head .content {
  display: table-cell;
  vertical-align: middle;
  padding: 100px 50px 50px;
  box-sizing: border-box;
}
.logo {
  margin: 0 auto;
  padding-bottom: 52px;
  display: block;
  width: 100%
}
.title {
  font-weight: 100;
  text-transform: uppercase;
  cursor: default;
}
.description {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  cursor: default;
  line-height: 20px;
}
.devider-animate {
  transform: rotate(180deg);
}
@keyframes devider-animate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.button {
  text-transform: uppercase;
  padding: 15px 48px;
  border: 1px solid;
  line-height: 14px;
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-weight: 300;
  border-radius: 2px;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
}
.video, .video-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  overflow: hidden;
}
.video video {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.video-card video {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.column {
  background-size: cover;
  transition: all 0.5s ease-in;
}
.text ul {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.text {
  padding: 60px 50px;
  box-sizing: border-box;
  line-height: 20px;
  cursor: default;
}
.text a {
  color: inherit;
  text-decoration: dashed;
}
.text a:hover {
  text-decoration: none;
}
.text ul li {
  text-transform: none;
  padding: 0px 0 30px;
  list-style: none;
}
.text ul li a {
  color: inherit;
  text-decoration: dashed;
}
.text ul li a:hover {
  text-decoration: none;
}
.text > h1 {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 26px;
  line-height: 40px;
}
.text > h1 > span {
  font-size: 40px;
  display: block;
}
.footer a {
  text-decoration: none;
  color: rgba(255,255,255,1);
  text-align: center;
  float: right;
}
.footer a > span {
  text-transform: uppercase;
  display: inline-block;
  padding: 43px 20px;
  box-sizing: border-box;
  line-height: 14px;
  position: relative;
}
.next-arrow {
  width: 17px;
  height: 30px;
  position: absolute;
  top: 35px;
  fill: none;
  stroke: #fff;
}
.footer > .info {
  display: table;
  font-size: 12px;
  padding: 0 50px;
  box-sizing: border-box;
  cursor: default;
}
.footer > .info span {
  display: table-cell;
  vertical-align: middle;
}
.footer i {
  font-style: normal;
  font-size: 18px;
}



.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  background-color: initial;
  margin: 23px;
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}
.c-hamburger--htx {
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htla {
}

.c-hamburger--htla span {
  transition: transform 0.3s;
}

.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htla.is-active {
}

.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 60%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(38px) translateY(4px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(38px) translateY(-4px) rotate(-45deg);
}
#mobile-previous span:after, #mobile-previous span:before {
  left: -24px;
}
.go-form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.go-form .row {
  float: none;
  height: auto;
  min-height: 100px;
  background-color: rgba(255,255,255,1);
  border: 7px solid;
  box-sizing: border-box;
  overflow: hidden;
}
.go-form .row .column {
  padding: 25px;
  box-sizing: border-box;
}
.go-form .row h2 {
  display: block;
  padding: 40px 25px 10px;
  color: rgba(0,0,0,1);
  font-size: 34px;
  margin: 0;
}
.go-form input[type="text"], .go-form textarea {
  width: 100%;
  margin-bottom: 13px;
  border: 1px solid #d4e0e8;
  padding: 8px;
  color: #959faa;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  outline: none;
  background-color: rgba(255,255,255,1);
}
.go-form textarea {
  min-height: 145px;
  box-sizing: border-box;
}
.go-form .button {
  margin: 0px 25px 40px;
  border: none;
}