header {
  background-color: rgba(0,18,55,1);
}
.portfolio_list {
  background-color: rgba(0,11,53,1);
  color: rgba(255,255,255,1);
}
.portfolio_listing {
  margin-top: 40px;
}
.portfolio_list header {
  background-color: rgba(0,18,55,1);
}
.portfolio_list section {
  max-height: 80%;
}
.portfolio_list_head img {
  display: block;
  max-width: 100%;
}
.portfolio_list_head h1 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 0 32px;
}
.portfolio_list_head p {
  max-width: 580px;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.portfolio_list_head .devider {
  margin: 40px auto;
  fill: rgba(31,124,207,1);
}
.portfolio_list_head span {
  display: block;
  text-align: center;
  font-size: 12px;
}
.work-list {
  background-size: cover;
  background-position: center;
}
.work-list .filter {
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  transition: all 0.5s ease-in;
  text-decoration: none;
  color: rgba(255,255,255,1);
  box-sizing: border-box;
}
.work-list:hover .filter {
  background-color: rgba(0,0,0,0);
}
.work-list .text {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(31,124,207,0);
  display: table;
  cursor: pointer;
  padding: 0;
  transition: all 0.5s ease-in;
}
.work-list .text .box {
  display: table-cell;
  vertical-align: middle;
}
.work-list .text .box h1 {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 0 20px;
  line-height: 36px;
}
.work-list .text .box p {
  text-align: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}
.work-list:hover .filter .text {
  border: 1px solid rgba(31,124,207,1);
}
.portfolio_list .footer a {
  text-align: right;
  color: rgba(31,124,207,1);
}
.portfolio_list .footer a > span {
  padding: 43px 50px;
  text-transform: none;
}

.dacha {
  background-color: rgba(46,3,3,1);
  color: rgba(255,255,255,1);
}
.dacha .video {
  background-image: url("../../build/img/dacha-head.jpg");
}
.dacha .head .filter {
  background-color: rgba(90,0,1,.6);
}
.dacha .logo {
  width: 88px;
  height: 138px;
}
.dacha .devider {
  fill: rgba(247,0,3,1);
}
.dacha .button {
  border-color: rgba(247,0,3,1);
}
.dacha .button:hover {
  background-color: rgba(247,0,3,1);
}
.dacha .target {
  background-image: url("../../build/img/dacha-1.jpg");
  color: rgba(46,3,3,1);
}
.dacha .work {
  background-color: rgba(247,39,39,1);
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/dacha-2.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 80%;
}
.dacha .result {
  background-image: url("../../build/img/dacha-3.jpg");
}
.dacha .result > .filter {
  background-color: rgba(89,24,20,.9);
}
.dacha .action {
  background-color: rgba(75,10,10,1);
}
.dacha .delimiter {
  background-color: rgba(189,0,3,1);
}
.dacha .footer {
  background-color: rgba(247,39,39,1);
}
.dacha .footer a.column {
  background-color: rgba(46,3,3,.5);
}
.dacha .footer a.column:hover {
  background-color: rgba(46,3,3,.8);
}

.infotex72 {
  background-color: rgba(255,193,0,1);
  color: rgba(255,255,255,1);
}
.infotex72 header {
  background-color: rgba(0,118,136,1);
}
.infotex72 .video {
  background-image: url("../../build/img/infotex72-head.jpg");
}
.infotex72 .head .filter {
  background-color: rgba(0,0,0,.6);
}
.infotex72 .logo {
  max-width: 272px;
}
.infotex72 .devider {
  fill: rgba(9,179,191,1);
}
.infotex72 .button {
  border-color: rgba(9,179,191,1);
}
.infotex72 .button:hover {
  background-color: rgba(9,179,191,1);
}
.infotex72 .target {
  background-image: url("../../build/img/infotex72-1.jpg");
}
.infotex72 .target .filter {
  background-color: rgba(0,0,0,.6);
}
.infotex72 .work {
  background-color: rgba(9,179,191,1);
}
.infotex72 .result {
  background-image: url("../../build/img/infotex72-2.jpg");
}
.infotex72 .result > .filter {
  background-color: rgba(0,0,0,.65);
}
.infotex72 .action .box {
  background-color: rgba(255,193,0,1);
}
.infotex72 .footer {
  background-color: rgba(9,179,191,1);
}
.infotex72 .footer i {
  color: rgba(255,193,0,1);
}
.infotex72 .footer a.column {
  background-color: rgba(0,118,136,.4);
}
.infotex72 .footer a.column:hover {
  background-color: rgba(0,118,136,1);
}

.metrika72 {
  background-color: rgba(236,68,53,1);
  color: rgba(255,255,255,1);
}
.metrika72 header {
  background-color: rgba(109,104,164,1);
}
.metrika72 .video {
  background-image: url("../../build/img/metrika72-head.jpg");
}
.metrika72 .head .filter {
  background-color: rgba(255,255,255,.6);
  color: rgba(0,0,0,1);
}
.metrika72 .logo {
  max-width: 120px;
}
.metrika72 .devider {
  fill: rgba(236,68,53,1);
}
.metrika72 .button {
  border-color: rgba(236,68,53,1);
  color: rgba(0,0,0,1);
}
.metrika72 .button:hover {
  background-color: rgba(236,68,53,1);
  color: rgba(255,255,255,1);
}
.metrika72 .target {
  color: rgba(109,104,164,1);
  background-image: url("../../build/img/metrika72-1.jpg");
  background-position: center;
}
.metrika72 .target .filter {
  background-color: rgba(255,255,255,.4);
}
.metrika72 .work {
  background-color: rgba(109,104,164,1);
}
.metrika72 .result {
  background-image: url("../../build/img/metrika72-2.jpg");
  background-position: center top;
}
.metrika72 .box {
  background-color: rgba(236,68,53,1);
}
.metrika72 .result > .filter {
  background-color: rgba(255,255,255,.4);
}
.metrika72 .result-2 {
  background-image: url("../../build/img/metrika72-3.jpg");
  background-position: center;
}
.metrika72 .result-2 > .filter {
  background-color: rgba(109,104,166,.4);
}
.metrika72 .action .delimiter {
  background-color: rgba(81,77,124,1);
}
.metrika72 .action .button {
  border-color: rgba(81,77,124,1);
  color: rgba(255,255,255,1);
}
.metrika72 .action .button:hover {
  background-color: rgba(81,77,124,1);
}
.metrika72 .footer {
  background-color: rgba(109,104,164,1);
}
.metrika72 .footer i {
  color: rgba(236,68,53,1);
}
.metrika72 .footer a.column {
  background-color: rgba(81,77,124,.6);
}
.metrika72 .footer a.column:hover {
  background-color: rgba(81,77,124,1);
}

.navigator {
  background-color: rgba(55,118,187,1);
  color: rgba(255,255,255,1);
}
.navigator header {
  background-color: rgba(150,186,63,1);
}
.navigator .video {
  background-image: url("../../build/img/navigator-head.jpg");
  background-position: top center;
}
.navigator .head .filter {
  background-color: rgba(150,186,63,.7);
}
.navigator .logo {
  max-width: 230px;
}
.navigator .devider {
  fill: rgba(55,118,187,1);
}
.navigator .button {
  border-color: rgba(55,118,187,1);
}
.navigator .button:hover {
  background-color: rgba(55,118,187,1);
}
.navigator .target {
  background-image: url("../../build/img/navigator-1.jpg");
  background-position: center;
}
.navigator .target .filter {
  background-color: rgba(55,118,187,.6);
}
.navigator .work {
  background-color: rgba(150,186,63,1);
}
.navigator .big {
  background-image: url("../../build/img/navigator-2.jpg");
  background-position: center top;
  background-size: cover;
}
.navigator .box {
  background-color: rgba(72,149,66,1);
}
.navigator .action {
  background-color: rgba(55,118,187,1);
}
.navigator .action .button {
  border-color: rgba(150,186,63,1);
  color: rgba(255,255,255,1);
}
.navigator .action .button:hover {
  background-color: rgba(150,186,63,1);
}
.navigator .footer {
  background-color: rgba(150,186,63,1);
}
.navigator .footer i {
  color: rgba(55,118,187,1);
}
.navigator .footer a.column {
  background-color: rgba(72,149,66,.6);
}
.navigator .footer a.column:hover {
  background-color: rgba(72,149,66,1);
}

.kobilkin {
  background-color: rgba(7,56,122,1);
  color: rgba(255,255,255,1);
}
.kobilkin header {
  background-color: rgba(0,108,202,1);
}
.kobilkin .video {
  background-image: url("../../build/img/kobilkin-head.jpg");
  background-position: top center;
}
.kobilkin .head .filter {
  background-color: rgba(7,56,122,.7);
}
.kobilkin .logo {
  max-width: 104px;
}
.kobilkin .devider {
  fill: rgba(54,150,190,1);
}
.kobilkin .button {
  border-color: rgba(54,150,190,1);
}
.kobilkin .button:hover {
  background-color: rgba(54,150,190,1);
}
.kobilkin .target {
  background-image: url("../../build/img/kobilkin-1.jpg");
  background-position: center;
}
.kobilkin .target .filter {
  background-color: rgba(1,162,254,.2);
}
.kobilkin .work {
  background-color: rgba(0,108,202,1);
  background-image: url("../../build/img/kobilkin-2.jpg");
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.kobilkin .big {
  background-image: url("../../build/img/kobilkin-3.jpg");
  background-position: center top;
  background-size: cover;
}
.kobilkin .box {
  background-color: rgba(1,162,254,1);
}
.kobilkin .action {
  background-color: rgba(7,56,122,1);
}
.kobilkin .action .button {
  border-color: rgba(1,162,254,1);
}
.kobilkin .action .button:hover {
  background-color: rgba(1,162,254,1);
}
.kobilkin .footer {
  background-color: rgba(0,108,202,1);
}
.kobilkin .footer i {
  color: rgba(1,162,254,1);
}
.kobilkin .footer a.column {
  background-color: rgba(1,162,254,.6);
}
.kobilkin .footer a.column:hover {
  background-color: rgba(1,162,254,1);
}

.assorti {
  background-color: rgba(241,224,196,1);
  color: rgba(102,15,15,1);
}
.assorti header {
  background-color: rgba(138,30,23,1);
}
.assorti .video {
  background-image: url("../../build/img/assorti-head.jpg");
  color: rgba(255,255,255,1);
}
.assorti .head .filter {
  background-color: rgba(92,4,5,.75);
}
.assorti .logo {
  max-width: 132px;
}
.assorti .devider {
  fill: rgba(241,224,196,1);
}
.assorti .button {
  border-color: rgba(241,224,196,1);
}
.assorti .button:hover {
  background-color: rgba(241,224,196,1);
  color: rgba(92,4,5,1);
}
.assorti .target {
  background-image: url("../../build/img/assorti-1.jpg");
}
.assorti .target .filter {
  background-color: rgba(241,224,196,.8);
  color: rgba(92,4,5,.75);
}
.assorti .work {
  background-color: rgba(92,4,5,1);
  color: rgba(255,255,255,1);
}
.assorti .result {
  background-image: url("../../build/img/assorti-3.jpg");
  background-size: cover;
}
.assorti .result-2 {
  background-color: rgba(138,30,23,1);
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/assorti-2.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}
.assorti .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/assorti-4.jpg");
  background-size: cover;
}
.assorti .result-3 .filter {
  background-color: rgba(92,4,5,.6);
}
.assorti .action .box {
  background-color: rgba(241,224,196,1);
}
.assorti .action .box .button {
  border-color: rgba(92,4,5,1);
  color: rgba(92,4,5,1);
}
.assorti .action .box .button:hover {
  background-color: rgba(92,4,5,1);
  color: rgba(241,224,196,1);
}
.assorti .footer {
  background-color: rgba(138,30,23,1);
  color: rgba(255,255,255,1);
}
.assorti .footer i {
  color: rgba(241,224,196,1);
}
.assorti .footer a.column {
  background-color: rgba(92,4,5,.4);
}
.assorti .footer a.column:hover {
  background-color: rgba(92,4,5,1);
}

.urbanlife {
  background-color: rgba(220,220,220,1);
  color: rgba(255,255,255,1);
}
.urbanlife header {
  background-color: rgba(231,58,81,1);
}
.urbanlife .video {
  background-image: url("../../build/img/urbanlife-head.jpg");
}
.urbanlife .head .filter {
  background-color: rgba(0,0,0,.6);
}
.urbanlife .logo {
  max-width: 300px;
}
.urbanlife .devider {
  fill: rgba(231,58,81,1);
}
.urbanlife .button {
  border-color: rgba(231,58,81,1);
}
.urbanlife .button:hover {
  background-color: rgba(231,58,81,1);
}
.urbanlife .project {
  color: rgba(29,29,29,1);
}
.urbanlife .target {
  background-image: url("../../build/img/urbanlife-1.jpg");
}
.urbanlife .target .filter {
  background-color: rgba(231,58,81,.6);
}
.urbanlife .work {
  background-color: rgba(203,50,70,1);
}
.urbanlife .result {
  background-image: url("../../build/img/urbanlife-2.jpg");
  background-size: cover;
}
.urbanlife .result .filter {
  background-color: rgba(0,0,0,.2);
}
.urbanlife .result-2 {
  background-color: rgba(231,58,81,1);
}
.urbanlife .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/urbanlife-3.jpg");
  background-size: cover;
}
.urbanlife .result-3 .filter {
  background-color: rgba(0,0,0,.7);
}
.urbanlife .action .box {
  background-color: rgba(220,220,220,1);
  color: rgba(29,29,29,1);
}
.urbanlife .action .box .button {
  border-color: rgba(231,58,81,1);
  color: rgba(29,29,29,1);
}
.urbanlife .action .box .button:hover {
  background-color: rgba(231,58,81,1);
  color: rgba(255,255,255,1);
}
.urbanlife .footer {
  background-color: rgba(231,58,81,1);
}
.urbanlife .footer i {
  color: rgba(220,220,220,1);
}
.urbanlife .footer a.column {
  background-color: rgba(161,38,54,.4);
}
.urbanlife .footer a.column:hover {
  background-color: rgba(161,38,54,1);
}
.urbanlife .go-form .row {
  border-color: rgba(231,58,81,1);
}
.urbanlife .go-form .button {
  background-color: rgba(231,58,81,1);
}
.urbanlife .go-form .button:hover {
  background-color: rgba(161,38,54,1);
}

.interzvuk {
  background-color: rgba(229,22,49,1);
  color: rgba(255,255,255,1);
}
.interzvuk header {
  background-color: rgba(183,18,39,1);
}
.interzvuk .video {
  background-image: url("../../build/img/interzvuk-head.jpg");
  background-position: top center;
}
.interzvuk .head .filter {
  background-color: rgba(0,0,0,.8);
}
.interzvuk .logo {
  max-width: 130px;
}
.interzvuk .devider {
  fill: rgba(229,22,49,1);
}
.interzvuk .button {
  border-color: rgba(229,22,49,1);
}
.interzvuk .button:hover {
  background-color: rgba(229,22,49,1);
}
.interzvuk .target {
  background-image: url("../../build/img/interzvuk-1.jpg");
  background-position: center;
}
.interzvuk .target .filter {
  background-color: rgba(183,18,39,.8);
}
.interzvuk .work {
  background-color: rgba(55,58,71,1);
  background-image: url("../../build/img/interzvuk-2.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.interzvuk .big {
  background-image: url("../../build/img/interzvuk-3.jpg");
  background-position: center top;
  background-size: cover;
}
.interzvuk .box {
  background-color: rgba(55,58,71,1);
}
.interzvuk .action {
  background-color: rgba(229,22,49,1);
}
.interzvuk .action .button {
  border-color: rgba(55,58,71,1);
  color: rgba(255,255,255,1);
}
.interzvuk .action .button:hover {
  background-color: rgba(55,58,71,1);
}
.interzvuk .footer {
  background-color: rgba(183,18,39,1);
}
.interzvuk .footer i {
  color: rgba(55,58,71,1);
}
.interzvuk .footer a.column {
  background-color: rgba(0,0,0,.2);
}
.interzvuk .footer a.column:hover {
  background-color: rgba(0,0,0,.4);
}

.trimet {
  background-color: rgba(1,23,85,1);
  color: rgba(255,255,255,1);
}
.trimet header {
  background-color: rgba(1,16,59,1);
}
.trimet .video {
  background-image: url("../../build/img/trimet-head.jpg");
  background-position: top center;
}
.trimet .head .filter {
  background-color: rgba(1,23,85,.8);
}
.trimet .logo {
  max-width: 280px;
}
.trimet .devider {
  fill: rgba(243,197,12,1);
}
.trimet .button {
  border-color: rgba(243,197,12,1);
}
.trimet .button:hover {
  background-color: rgba(243,197,12,1);
}
.trimet .target {
  background-image: url("../../build/img/trimet-1.jpg");
  background-position: center;
}
.trimet .target .filter {
  background-color: rgba(243,197,12,.8);
  color: rgba(1,23,85,1);
}
.trimet .work {
  background-color: rgba(0,30,116,1);
}
.trimet .big {
  background-image: url("../../build/img/trimet-2.jpg");
  background-position: center top;
  background-size: cover;
}
.trimet .box {
  background-color: rgba(243,197,12,1);
}
.trimet .action {
  background-color: rgba(1,23,85,1);
}
.trimet .action .button {
  border-color: rgba(243,197,12,1);
  color: rgba(255,255,255,1);
}
.trimet .action .button:hover {
  background-color: rgba(243,197,12,1);
  color: rgba(1,23,85,1);
}
.trimet .footer {
  background-color: rgba(0,30,116,1);
}
.trimet .footer i {
  color: rgba(243,197,12,1);
}
.trimet .footer a.column {
  background-color: rgba(0,0,0,.1);
}
.trimet .footer a.column:hover {
  background-color: rgba(0,0,0,.4);
}

.yanao {
  background-color: rgba(61,112,198,1);
  color: rgba(255,255,255,1);
}
.yanao header {
  background-color: rgba(39,90,176,1);
}
.yanao .video {
  background-image: url("../../build/img/yanao-head.jpg");
  background-position: top center;
}
.yanao .head .filter {
  background-color: rgba(61,112,198,.7);
}
.yanao .logo {
  max-width: 122px;
}
.yanao .devider {
  fill: rgba(179,40,68,1);
}
.yanao .button {
  border-color: rgba(179,40,68,1);
}
.yanao .button:hover {
  background-color: rgba(179,40,68,1);
}
.yanao .target {
  background-color: rgba(97,143,221,1);
}
.yanao .work {
  background-image: url("../../build/img/yanao-1.jpg");
  background-position: top center;
}
.yanao .work .filter {
  background-color: rgba(61,112,198,.35);
}
.yanao .work-box {
  background-color: rgba(255,255,255,1);
  color: rgba(39,90,176,1);
}
.yanao .result {
  background-image: url("../../build/img/yanao-2.jpg");
  background-position: center center;
}
.yanao .result .filter {
  background-color: rgba(61,112,198,.7);
}
.yanao .footer {
  background-color: rgba(39,90,176,1);
}
.yanao .footer i {
  color: rgba(179,40,68,1);
}
.yanao .footer a.column {
  background-color: rgba(0,0,0,.1);
}
.yanao .footer a.column:hover {
  background-color: rgba(0,0,0,.4);
}

.slb {
  background-color: rgba(0,121,65,1);
  color: rgba(255,255,255,1);
}
.slb header {
  background-color: rgba(254,144,1,1);
}
.slb .video {
  background-image: url("../../build/img/slb-head.jpg");
  background-position: top center;
}
.slb .head .filter {
  background-color: rgba(255,255,255,.7);
  color: rgba(0,0,0,1);
}
.slb .logo {
  max-width: 360px;
}
.slb .devider {
  fill: rgba(254,144,1,1);
}
.slb .button {
  border-color: rgba(254,144,1,1);
  color: rgba(0,0,0,1);
}
.slb .button:hover {
  background-color: rgba(254,144,1,1);
  color: rgba(255,255,255,1);
}
.slb .target {
  background-image: url("../../build/img/slb-1.jpg");
  background-position: top center;
}
.slb .target .filter {
  background-color: rgba(0,121,65,.7);
}
.slb .work {
  background-color: rgba(254,144,1,1);
}
.slb .box {
  background-color: rgba(0,180,95,1);
}
.slb .result {
  background-image: url("../../build/img/slb-2.jpg");
  background-position: top center;
  background-size: 100%;
}
.slb .result .filter {
  background-color: rgba(255,255,255,.6);
}
.slb .action {
  background-color: rgba(254,144,1,1);
}
.slb .action .button {
  border-color: rgba(0,121,65,1);
  color: rgba(255,255,255,1);
}
.slb .action .button:hover {
  background-color: rgba(0,121,65,1);
}
.slb .footer {
  background-color: rgba(0,180,95,1);
}
.slb .footer i {
  color: rgba(254,144,1,1);
}
.slb .footer a.column {
  background-color: rgba(0,0,0,.1);
}
.slb .footer a.column:hover {
  background-color: rgba(0,0,0,.3);
}

.dompionerov {
  background-color: rgba(199,26,40,1);
  color: rgba(255,255,255,1);
}
.dompionerov header {
  background-color: rgba(199,26,40,1);
}
.dompionerov .video {
  background-image: url("../../build/img/dompionerov-head.jpg");
}
.dompionerov .head .filter {
  background-color: rgba(226,25,43,.85);
}
.dompionerov .logo {
  max-width: 124px;
}
.dompionerov .devider {
  fill: rgba(169,130,61,1);
}
.dompionerov .button {
  border-color: rgba(169,130,61,1);
}
.dompionerov .button:hover {
  background-color: rgba(169,130,61,1);
}
.dompionerov .target {
  background-image: url("../../build/img/dompionerov-1.jpg");
}
.dompionerov .target .filter {
  background-color: rgba(0,0,0,.45);
}
.dompionerov .work {
  background-color: rgba(169,130,61,1);
}
.dompionerov .result {
  background-image: url("../../build/img/dompionerov-2.jpg");
  background-size: cover;
}
.dompionerov .result .filter {
  background-color: rgba(0,0,0,.0);
}
.dompionerov .result-2 {
  background-color: rgba(226,25,43,1);
}
.dompionerov .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/dompionerov-3.jpg");
  background-size: cover;
}
.dompionerov .result-3 .filter {
  background-color: rgba(0,0,0,.6);
}
.dompionerov .action .box {
  background-color: rgba(199,26,40,1);
}
.dompionerov .action .box .button {
  border-color: rgba(169,130,61,1);
}
.dompionerov .action .box .button:hover {
  background-color: rgba(169,130,61,1);
}
.dompionerov .footer {
  background-color: rgba(169,130,61,1);
}
.dompionerov .footer i {
  color: rgba(199,26,40,1);
}
.dompionerov .footer a.column {
  background-color: rgba(210,171,105,.6);
}
.dompionerov .footer a.column:hover {
  background-color: rgba(210,171,105,.9);
}
.dompionerov .go-form .row {
  border-color: rgba(199,26,40,1);
}
.dompionerov .go-form .button {
  background-color: rgba(199,26,40,1);
}
.dompionerov .go-form .button:hover {
  background-color: rgba(226,25,43,1);
}

.green72 {
  background-color: rgba(183,210,62,1);
  color: rgba(255,255,255,1);
}
.green72 header {
  background-color: rgba(127,173,21,1);
}
.green72 .video {
  background-image: url("../../build/img/green72-head.jpg");
}
.green72 .head .filter {
  background-color: rgba(0,0,0,.4);
}
.green72 .logo {
  max-width: 124px;
}
.green72 .devider {
  fill: rgba(183,210,62,1);
}
.green72 .button {
  border-color: rgba(183,210,62,1);
}
.green72 .button:hover {
  background-color: rgba(183,210,62,1);
}
.green72 .target {
  background-image: url("../../build/img/green72-1.jpg");
}
.green72 .target .filter {
  background-color: rgba(0,0,0,.5);
}
.green72 .work {
  background-color: rgba(127,173,21,1);
}
.green72 .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/green72-2.jpg");
  background-size: cover;
}
.green72 .result-3 .filter {
  background-color: rgba(0,0,0,.6);
}
.green72 .action .box {
  background-color: rgba(183,210,62,1);
}
.green72 .action .box .button {
  border-color: rgba(127,173,21,1);
}
.green72 .action .box .button:hover {
  background-color: rgba(127,173,21,1);
}
.green72 .footer {
  background-color: rgba(127,173,21,1);
}
.green72 .footer i {
  color: rgba(183,210,62,1);
}
.green72 .footer a.column {
  background-color: rgba(183,210,62,.4);
}
.green72 .footer a.column:hover {
  background-color: rgba(183,210,62,.8);
}
.green72 .go-form .row {
  border-color: rgba(127,173,21,1);
}
.green72 .go-form .button {
  background-color: rgba(127,173,21,1);
}
.green72 .go-form .button:hover {
  background-color: rgba(183,210,62,1);
}

.garmonya {
  background-color: rgba(95,31,26,1);
  color: rgba(255,255,255,1);
}
.garmonya header {
  background-color: rgba(230,97,48,1);
}
.garmonya .video {
  background-image: url("../../build/img/garmonya-head.jpg");
}
.garmonya .head .filter {
  background-color: rgba(95,31,26,.6);
}
.garmonya .logo {
  max-width: 118px;
}
.garmonya .devider {
  fill: rgba(249,138,28,1);
}
.garmonya .button {
  border-color: rgba(249,138,28,1);
}
.garmonya .button:hover {
  background-color: rgba(249,138,28,1);
}
.garmonya .target {
  background-image: url("../../build/img/garmonya-1.jpg");
}
.garmonya .target .filter {
  background-color: rgba(95,31,26,.3);
}
.garmonya .work {
  background-color: rgba(249,138,28,1);
}
.garmonya .result {
  background-image: url("../../build/img/garmonya-2.jpg");
  background-size: cover;
}
.garmonya .result .filter {
  background-color: rgba(0,0,0,.0);
}
.garmonya .result-2 {
  background-color: rgba(230,97,48,1);
}
.garmonya .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/garmonya-3.jpg");
  background-size: cover;
}
.garmonya .result-3 .filter {
  background-color: rgba(95,31,26,.4);
}
.garmonya .action .box {
  background-color: rgba(95,31,26,1);
}
.garmonya .action .box .button {
  border-color: rgba(249,138,28,1);
}
.garmonya .action .box .button:hover {
  background-color: rgba(249,138,28,1);
}
.garmonya .footer {
  background-color: rgba(249,138,28,1);
}
.garmonya .footer i {
  color: rgba(95,31,26,1);
}
.garmonya .footer a.column {
  background-color: rgba(230,97,48,.4);
}
.garmonya .footer a.column:hover {
  background-color: rgba(230,97,48,.8);
}
.garmonya .go-form .row {
  border-color: rgba(230,97,48,1);
}
.garmonya .go-form .button {
  background-color: rgba(230,97,48,1);
}
.garmonya .go-form .button:hover {
  background-color: rgba(249,138,28,1);
}

.anna-manchini {
  background-color: rgba(32,32,32,1);
  color: rgba(255,255,255,1);
}
.anna-manchini header {
  background-color: rgba(0,0,0,1);
}
.anna-manchini .video {
  background-image: url("../../build/img/anna-manchini-head.jpg");
  background-position: top center;
}
.anna-manchini .head .filter {
  background-color: rgba(0,0,0,.8);
}
.anna-manchini .logo {
  max-width: 290px;
}
.anna-manchini .devider {
  fill: rgba(169,169,169,1);
}
.anna-manchini .button {
  border-color: rgba(169,169,169,1);
}
.anna-manchini .button:hover {
  background-color: rgba(169,169,169,1);
  color: rgba(0,0,0,1);
}
.anna-manchini .target {
  background-image: url("../../build/img/anna-manchini-1.jpg");
  background-position: center;
}
.anna-manchini .target .filter {
  background-color: rgba(49,49,49,.7);
}
.anna-manchini .work {
  background-color: rgba(49,49,49,1);
}
.anna-manchini .big {
  background-image: url("../../build/img/anna-manchini-2.jpg");
  background-position: center top;
  background-size: cover;
}
.anna-manchini .box {
  background-color: rgba(169,169,169,1);
}
.anna-manchini .result-1 {
  background-color: rgba(0,0,0,1);
}
.anna-manchini .action {
  background-color: rgba(32,32,32,1);
}
.anna-manchini .action .button {
  border-color: rgba(169,169,169,1);
  color: rgba(255,255,255,1);
}
.anna-manchini .action .button:hover {
  background-color: rgba(169,169,169,1);
  color: rgba(0,0,0,1);
}
.anna-manchini .footer {
  background-color: rgba(49,49,49,1);
}
.anna-manchini .footer i {
  color: rgba(169,169,169,1);
}
.anna-manchini .footer a.column {
  background-color: rgba(0,0,0,.1);
}
.anna-manchini .footer a.column:hover {
  background-color: rgba(0,0,0,.4);
}
.anna-manchini .go-form .row {
  border-color: rgba(169,169,169,1);
}
.anna-manchini .go-form .button {
  background-color: rgba(32,32,32,1);
}
.anna-manchini .go-form .button:hover {
  background-color: rgba(169,169,169,1);
  color: rgba(0,0,0,1);
}

.gagliardi {
  background-color: rgba(40,35,57,1);
  color: rgba(255,255,255,1);
}
.gagliardi header {
  background-color: rgba(63,52,101,1);
}
.gagliardi .video {
  background-image: url("../../build/img/gagliardi-head.jpg");
  background-position: top center;
}
.gagliardi .head .filter {
  background-color: rgba(40,35,57,.8);
}
.gagliardi .logo {
  max-width: 178px;
}
.gagliardi .devider {
  fill: rgba(144,163,177,1);
}
.gagliardi .button {
  border-color: rgba(144,163,177,1);
}
.gagliardi .button:hover {
  background-color: rgba(144,163,177,1);
}
.gagliardi .target {
  background-image: url("../../build/img/gagliardi-1.jpg");
  background-position: center;
}
.gagliardi .target .filter {
  background-color: rgba(63,52,101,.8);
}
.gagliardi .work {
  background-color: rgba(63,52,101,1);
}
.gagliardi .big {
  background-image: url("../../build/img/gagliardi-2.jpg");
  background-position: center top;
  background-size: cover;
}
.gagliardi .box {
  background-color: rgba(144,163,177,1);
}
.gagliardi .result-1 {
  background-color: rgba(63,52,101,1);
}
.gagliardi .action {
  background-color: rgba(40,35,57,1);
}
.gagliardi .action .button {
  border-color: rgba(144,163,177,1);
  color: rgba(255,255,255,1);
}
.gagliardi .action .button:hover {
  background-color: rgba(144,163,177,1);
}
.gagliardi .footer {
  background-color: rgba(40,35,57,1);
}
.gagliardi .footer i {
  color: rgba(144,163,177,1);
}
.gagliardi .footer a.column {
  background-color: rgba(63,52,101,.4);
}
.gagliardi .footer a.column:hover {
  background-color: rgba(63,52,101,.8);
}
.gagliardi .go-form .row {
  border-color: rgba(63,52,101,1);
}
.gagliardi .go-form .button {
  background-color: rgba(63,52,101,1);
}
.gagliardi .go-form .button:hover {
  background-color: rgba(40,35,57,1);
}

.sibercat {
  background-color: rgba(246,102,0,1);
  color: rgba(255,255,255,1);
}
.sibercat header {
  background-color: rgba(246,102,0,1);
}
.sibercat .video {
  background-image: url("../../build/img/sibercat-head.jpg");
  color: rgba(0,0,0,1);
}
.sibercat .head .filter {
  background-color: rgba(255,255,255,.7);
}
.sibercat .logo {
  max-width: 100px;
}
.sibercat .devider {
  fill: rgba(227,105,16,1);
}
.sibercat .button {
  border-color: rgba(227,105,16,1);
  color: rgba(0,0,0,1);
}
.sibercat .button:hover {
  background-color: rgba(227,105,16,1);
  color: rgba(255,255,255,1);
}
.sibercat .target {
  background-image: url("../../build/img/sibercat-1.jpg");
}
.sibercat .target .filter {
  background-color: rgba(0,0,0,.3);
}
.sibercat .work {
  background-color: rgba(135,191,13,1);
}
.sibercat .result {
  background-image: url("../../build/img/sibercat-2.jpg");
  background-size: cover;
}
.sibercat .result .filter {
  background-color: rgba(0,0,0,.0);
}
.sibercat .result-2 {
  background-color: rgba(249,164,0,1);
}
.sibercat .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/sibercat-3.jpg");
  background-size: cover;
}
.sibercat .result-3 .filter {
  background-color: rgba(0,0,0,.4);
}
.sibercat .action .box {
  background-color: rgba(135,191,13,1);
}
.sibercat .action .box .button {
  border-color: rgba(227,105,16,1);
  color: rgba(255,255,255,1);
}
.sibercat .action .box .button:hover {
  background-color: rgba(227,105,16,1);
}
.sibercat .footer {
  background-color: rgba(249,164,0,1);
}
.sibercat .footer i {
  color: rgba(227,105,16,1);
}
.sibercat .footer a.column {
  background-color: rgba(246,102,0,.4);
}
.sibercat .footer a.column:hover {
  background-color:rgba(246,102,0,.8);
}
.sibercat .go-form .row {
  border-color: rgba(246,102,0,1);
}
.sibercat .go-form .button {
  background-color: rgba(246,102,0,1);
}
.sibercat .go-form .button:hover {
  background-color: rgba(249,164,0,1);
}




.gletcher {
  background-color: rgba(0,6,58,1);
  color: rgba(255,255,255,1);
}
.gletcher header {
  background-color: rgba(1,28,91,1);
}
.gletcher .video {
  background-image: url("../../build/img/gletcher-head.jpg");
}
.gletcher .head .filter {
  background-color: rgba(0,6,58,.6);
}
.gletcher .logo {
  max-width: 196px;
}
.gletcher .devider {
  fill: rgba(135,214,247,1);
}
.gletcher .button {
  border-color: rgba(135,214,247,1);
}
.gletcher .button:hover {
  background-color: rgba(135,214,247,1);
}
.gletcher .target {
  background-image: url("../../build/img/gletcher-1.jpg");
}
.gletcher .target .filter {
  background-color: rgba(135,214,247,.3);
}
.gletcher .work {
  background-color: rgba(135,214,247,1);
}
.gletcher .result {
  background-image: url("../../build/img/gletcher-2.jpg");
  background-size: cover;
}
.gletcher .result .filter {
  background-color: rgba(0,0,0,.0);
}
.gletcher .result-2 {
  background-color: rgba(1,28,91,1);
}
.gletcher .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/gletcher-3.jpg");
  background-size: cover;
}
.gletcher .result-3 .filter {
  background-color: rgba(0,6,58,.4);
}
.gletcher .action .box {
  background-color: rgba(0,6,58,1);
}
.gletcher .action .box .button {
  border-color: rgba(135,214,247,1);
}
.gletcher .action .box .button:hover {
  background-color: rgba(135,214,247,1);
}
.gletcher .footer {
  background-color: rgba(1,28,91,1);
}
.gletcher .footer i {
  color: rgba(135,214,247,1);
}
.gletcher .footer a.column {
  background-color: rgba(55,102,153,.4);
}
.gletcher .footer a.column:hover {
  background-color:rgba(135,214,247,.4);
}
.gletcher .go-form .row {
  border-color: rgba(135,214,247,1);
}
.gletcher .go-form .button {
  background-color:rgba(135,214,247,1);
}
.gletcher .go-form .button:hover {
  background-color: rgba(94,185,223,1);;
}


.urcollegia {
  background-color: rgba(56,95,173,1);
  color: rgba(255,255,255,1);
}
.urcollegia header {
  background-color: rgba(25,73,169,1);
}
.urcollegia .video {
  background-image: url("../../build/img/urcollegia-head.jpg");
}
.urcollegia .head .filter {
  background-color: rgba(144,167,208,.9);
}
.urcollegia .logo {
  max-width: 118px;
}
.urcollegia .devider {
  fill: rgba(56,95,173,1);
}
.urcollegia .button {
  border-color: rgba(56,95,173,1);
}
.urcollegia .button:hover {
  background-color: rgba(56,95,173,1);
}
.urcollegia .target {
  background-image: url("../../build/img/urcollegia-1.jpg");
  color: rgba(115,135,173,1);
}
.urcollegia .target .filter {
  background-color: rgba(255,255,255,.8);
}
.urcollegia .work {
  background-color: rgba(144,167,208,1);
}
.urcollegia .result {
  background-image: url("../../build/img/urcollegia-2.jpg");
  background-size: cover;
}
.urcollegia .result .filter {
  background-color: rgba(0,0,0,.0);
}
.urcollegia .result-2 {
  background-color: rgba(113,133,172,1);
}
.urcollegia .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/urcollegia-3.jpg");
  background-size: cover;
}
.urcollegia .result-3 .filter {
  background-color: rgba(113,134,173,.2);
}
.urcollegia .action .box {
  background-color: rgba(56,95,173,1);
}
.urcollegia .action .box .button {
  border-color: rgba(207,218,233,1);
}
.urcollegia .action .box .button:hover {
  background-color: rgba(207,218,233,1);
  color: rgba(56,95,173,1);
}
.urcollegia .footer {
  background-color: rgba(144,167,208,1);
}
.urcollegia .footer i {
  color: rgba(56,95,173,1);
}
.urcollegia .footer a.column {
  background-color: rgba(113,133,172,.4);
}
.urcollegia .footer a.column:hover {
  background-color:rgba(86,115,171,1);
}
.urcollegia .go-form .row {
  border-color: rgba(56,95,173,1);
}
.urcollegia .go-form .button {
  background-color:rgba(56,95,173,1);
}
.urcollegia .go-form .button:hover {
  background-color: rgba(144,167,208,1);;
}





.enko {
  background-color: rgba(0,140,213,1);
  color: rgba(255,255,255,1);
}
.enko header {
  background-color: rgba(0,90,171,1);
}
.enko .video {
  background-image: url("../../build/img/enko-head.jpg");
  background-position: top center;
  color: rgba(0,0,0,1);
}
.enko .head .filter {
  background-color: rgba(255,255,255,.7);
}
.enko .logo {
  max-width: 212px;
}
.enko .devider {
  fill: rgba(1,140,212,1);
}
.enko .button {
  border-color: rgba(1,140,212,1);
  color: rgba(43,42,41,1);
}
.enko .button:hover {
  background-color: rgba(1,140,212,1);
  color: rgba(255,255,255,1);
}
.enko .target {
  background-image: url("../../build/img/enko-1.jpg");
  background-position: center;
}
.enko .target .filter {
  background-color: rgba(0,94,172,.4);
}
.enko .work {
  background-color: rgba(69,217,81,1);
}
.enko .big {
  background-image: url("../../build/img/enko-2.jpg");
  background-position: center top;
  background-size: cover;
}
.enko .box {
  background-color: rgba(144,163,177,1);
}
.enko .result-1 {
  background-color: rgba(155,219,32,1);
}
.enko .action {
  background-color: rgba(0,140,213,1);
}
.enko .action .button {
  border-color: rgba(163,222,49,1);
  color: rgba(255,255,255,1);
}
.enko .action .button:hover {
  background-color: rgba(163,222,49,1);
}
.enko .footer {
  background-color: rgba(0,139,213,1);
}
.enko .footer i {
  color: rgba(144,213,46,1);
}
.enko .footer a.column {
  background-color: rgba(0,121,197,.4);
}
.enko .footer a.column:hover {
  background-color: rgba(4,99,158,1);
}
.enko .go-form .row {
  border-color: rgba(155,219,32,1);
}
.enko .go-form .button {
  background-color: rgba(155,219,32,1);
  color: rgba(255,255,255,1);
}
.enko .go-form .button:hover {
  background-color: rgba(122,171,27,1);
  color: rgba(255,255,255,1);
}


.bikini {
  background-color: rgba(11,141,151,1);
  color: rgba(255,255,255,1);
}
.bikini header {
  background-color: rgba(241,45,109,1);
}
.bikini .video {
  background-image: url("../../build/img/bikini-head.jpg");
  color: rgba(0,0,0,1);
}
.bikini .head .filter {
  background-color: rgba(255,255,255,.8);
}
.bikini .logo {
  max-width: 360px;
}
.bikini .devider {
  fill: rgba(241,45,109,1);
}
.bikini .button {
  border-color: rgba(241,45,109,1);
  color: rgba(0,0,0,1);
}
.bikini .button:hover {
  background-color: rgba(241,45,109,1);
  color: rgba(255,255,255,1);
}
.bikini .target {
  background-image: url("../../build/img/bikini-1.jpg");
}
.bikini .target .filter {
  background-color: rgba(0,151,162,.4);
}
.bikini .work {
  background-color: rgba(107,200,219,1);
}
.bikini .result {
  background-image: url("../../build/img/bikini-2.jpg");
  background-size: cover;
  background-position: center top;
}
.bikini .result .filter {
  background-color: rgba(0,0,0,.0);
}
.bikini .result-2 {
  background-color: rgba(241,45,109,1);
}
.bikini .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/bikini-3.jpg");
  background-size: cover;
}
.bikini .result-3 .filter {
  background-color: rgba(0,0,0,0);
}
.bikini .action .box {
  background-color: rgba(0,151,162,1);
}
.bikini .action .box .button {
  border-color: rgba(241,45,109,1);
  color: rgba(255,255,255,1);
}
.bikini .action .box .button:hover {
  background-color: rgba(241,45,109,1);
}
.bikini .footer {
  background-color: rgba(241,45,109,1);
}
.bikini .footer i {
  color: rgba(1,150,165,1);
}
.bikini .footer a.column {
  background-color: rgba(0,0,0,.15);
}
.bikini .footer a.column:hover {
  background-color:rgba(0,0,0,.25);
}
.bikini .go-form .row {
  border-color: rgba(1,150,165,1);
}
.bikini .go-form .button {
  background-color: rgba(1,150,165,1);
  color: rgba(255,255,255,1);
}
.bikini .go-form .button:hover {
  background-color: rgba(107,200,219,1);
}

.followme {
  background-color: rgba(34,50,65,1);
  color: rgba(255,255,255,1);
}
.followme header {
  background-color: rgba(25,185,154,1);
}
.followme .video {
  background-image: url("../../build/img/followme-head.jpg");
}
.followme .head .filter {
  background-color: rgba(34,50,65,.95);
}
.followme .logo {
  max-width: 220px;
}
.followme .devider {
  fill: rgba(44,182,159,1);
}
.followme .button {
  border-color: rgba(44,182,159,1);
}
.followme .button:hover {
  background-color: rgba(44,182,159,1);
}
.followme .target {
  background-image: url("../../build/img/followme-1.jpg");
}
.followme .target .filter {
  background-color: rgba(30,69,62,.8);
}
.followme .work {
  background-color: rgba(44,182,159,1);
}
.followme .result {
  background-image: url("../../build/img/followme-2.jpg");
  background-size: cover;
}
.followme .result .filter {
  background-color: rgba(0,0,0,.0);
}
.followme .result-2 {
  background-color: rgba(49,111,100,1);
}
.followme .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/followme-3.jpg");
  background-size: cover;
}
.followme .result-3 .filter {
  background-color: rgba(49,111,100,.2);
}
.followme .action .box {
  background-color: rgba(34,50,65,1);
}
.followme .action .box .button {
  border-color: rgba(44,182,159,1);
}
.followme .action .box .button:hover {
  background-color: rgba(44,182,159,1);
}
.followme .footer {
  background-color: rgba(34,50,65,1);
}
.followme .footer i {
  color: rgba(44,182,159,1);
}
.followme .footer a.column {
  background-color: rgba(44,182,159,.3);
}
.followme .footer a.column:hover {
  background-color:rgba(44,182,159,.7);
}
.followme .go-form .row {
  border-color: rgba(49,111,100,1);
}
.followme .go-form .button {
  background-color:rgba(49,111,100,1);
}
.followme .go-form .button:hover {
  background-color: rgba(25,185,154,1);;
}
.stroitel {
  background-color: rgba(218,189,130,1);
  color: rgba(255,255,255,1);
}
.stroitel header {
  background-color: rgba(51,51,51,1);
}
.stroitel .video {
  background-image: url("../../build/img/stroitel-head.jpg");
}
.stroitel .head .filter {
  background-color: rgba(51,32,26,.6);
}
.stroitel .logo {
  max-width: 180px;
}
.stroitel .devider {
  fill: rgba(218,189,130,1);
}
.stroitel .button {
  border-color: rgba(218,189,130,1);
}
.stroitel .button:hover {
  background-color: rgba(218,189,130,1);
}
.stroitel .target {
  background-image: url("../../build/img/stroitel-1.jpg");
}
.stroitel .target .filter {
  background-color: rgba(51,32,26,.6);
}
.stroitel .work {
  background-color: rgba(194,157,113,1);
}
.stroitel .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/stroitel-2.jpg");
  background-size: cover;
}
.stroitel .result-3 .filter {
  background-color: rgba(51,32,26,.6);
}
.stroitel .action .box {
  background-color: rgba(212,184,128,1);
}
.stroitel .action .box .button {
  border-color: rgba(88,124,51,1);
}
.stroitel .action .box .button:hover {
  background-color: rgba(88,124,51,1);
}
.stroitel .footer {
  background-color: rgba(51,51,51,1);
}
.stroitel .footer i {
  color: rgba(88,124,51,1);
}
.stroitel .footer a.column {
  background-color: rgba(194,157,113,.4);
}
.stroitel .footer a.column:hover {
  background-color: rgba(194,157,113,.8);
}
.stroitel .go-form .row {
  border-color: rgba(88,124,51,1);
}
.stroitel .go-form .button {
  background-color: rgba(88,124,51,1);
}
.stroitel .go-form .button:hover {
  background-color: rgba(112,157,66,1);
}
.trimet2 {
  background-color: rgba(17,18,18,1);
  color: rgba(255,255,255,1);
}
.trimet2 header {
  background-color: rgba(255,208,0,1);
}
.trimet2 .video {
  background-image: url("../../build/img/trimet2-head.jpg");
}
.trimet2 .head .filter {
  background-color: rgba(17,18,18,.8);
}
.trimet2 .logo {
  max-width: 280px;
}
.trimet2 .devider {
  fill: rgba(255,208,0,1);
}
.trimet2 .button {
  border-color: rgba(255,208,0,1);
}
.trimet2 .button:hover {
  background-color: rgba(255,208,0,1);
}
.trimet2 .target {
  background-image: url("../../build/img/trimet2-1.jpg");
}
.trimet2 .target .filter {
  background-color: rgba(17,18,18,.3);
}
.trimet2 .work {
  background-color: rgba(255,229,0,1);
}
.trimet2 .result {
  background-image: url("../../build/img/trimet2-2.jpg");
  background-size: cover;
}
.trimet2 .result .filter {
  background-color: rgba(0,0,0,0);
}
.trimet2 .result-2 {
  background-color: rgba(255,208,0,1);
}
.trimet2 .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/trimet2-3.jpg");
  background-size: cover;
}
.trimet2 .result-3 .filter {
  background-color: rgba(17,18,18,.6);
}
.trimet2 .action .box {
  background-color: rgba(17,18,18,1);
}
.trimet2 .action .box .button {
  border-color: rgba(255,208,0,1);
}
.trimet2 .action .box .button:hover {
  background-color: rgba(255,208,0,1);
}
.trimet2 .footer {
  background-color: rgba(255,208,0,1);
}
.trimet2 .footer i {
  color: rgba(0,0,0,1);
}
.trimet2 .footer a.column {
  background-color: rgba(17,18,18,.7);
}
.trimet2 .footer a.column:hover {
  background-color:rgba(17,18,18,.4);
}
.trimet2 .go-form .row {
  border-color: rgba(255,208,0,1);
}
.trimet2 .go-form .button {
  background-color:rgba(255,208,0,1);
}
.trimet2 .go-form .button:hover {
  background-color: rgba(208,170,4,1);;
}
.edy4you {
  background-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}
.edy4you header {
  background-color: rgba(255,208,0,1);
}
.edy4you .video {
  background-image: url("../../build/img/edy4you-head.jpg");
}
.edy4you .head .filter {
  background-color: rgba(82,128,223,.9);
}
.edy4you .logo {
  max-width: 220px;
}
.edy4you .devider {
  fill: rgba(255,208,0,1);
}
.edy4you .button {
  border-color: rgba(255,208,0,1);
}
.edy4you .button:hover {
  background-color: rgba(255,208,0,1);
}
.edy4you .project {
  color: rgba(0,0,0,1);
}
.edy4you .target {
  background-image: url("../../build/img/edy4you-1.jpg");
}
.edy4you .target .filter {
  background-color: rgba(17,18,18,.4);
}
.edy4you .work {
  background-color: rgba(82,128,223,1);
}
.edy4you .result {
  background-image: url("../../build/img/edy4you-2.jpg");
  background-size: cover;
}
.edy4you .result .filter {
  background-color: rgba(0,0,0,0);
}
.edy4you .result-2 {
  background-color: rgba(255,147,0,1);
}
.edy4you .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/edy4you-3.jpg");
  background-size: cover;
}
.edy4you .result-3 .filter {
  background-color: rgba(0,0,0,0);
}
.edy4you .action .box {
  background-color: rgba(82,128,223,1);
  color: rgba(255,255,255,1);
}
.edy4you .action .box .button {
  border-color: rgba(255,208,0,1);
}
.edy4you .action .box .button:hover {
  background-color: rgba(255,208,0,1);
}
.edy4you .footer {
  background-color: rgba(255,147,0,1);
  color: rgba(255,255,255,1);
}
.edy4you .footer i {
  color: rgba(82,128,223,1);
}
.edy4you .footer a.column {
  background-color: rgba(57,89,155,1);
}
.edy4you .footer a.column:hover {
  background-color:rgba(75,118,206,1);
}
.edy4you .go-form .row {
  border-color: rgba(255,208,0,1);
}
.edy4you .go-form .button {
  background-color:rgba(255,208,0,1);
}
.edy4you .go-form .button:hover {
  background-color: rgba(208,170,4,1);;
}
.respublica {
  background-color: rgba(50,50,50,1);
  color: rgba(255,255,255,1);
}
.respublica header {
  background-color: rgba(50,50,50,1);
}
.respublica .video {
  background-image: url("../../build/img/respublica-head.jpg");
  background-position: top center;
  color: rgba(255,255,255,1);
}
.respublica .head .filter {
  background-color: rgba(50,50,63,.6);
}
.respublica .logo {
  max-width: 315px;
}
.respublica .devider {
  fill: rgba(36,204,220,1);
}
.respublica .button {
  border-color: rgba(36,204,220,1);
  color: rgba(255,255,255,1);
}
.respublica .button:hover {
  background-color: rgba(36,204,220,1);
  color: rgba(255,255,255,1);
}
.respublica .target {
  background-image: url("../../build/img/respublica-1.jpg");
  background-position: center;
}
.respublica .target .filter {
  background-color: rgba(50,50,50,.3);
}
.respublica .work {
  background-color: rgba(36,204,220,1);
}
.respublica .big {
  background-image: url("../../build/img/respublica-2.jpg");
  background-position: center top;
  background-size: cover;
}
.respublica .box {
  background-color: rgba(50,50,50,1);
}
.respublica .result-1 {
  background-color: rgba(30,167,180,1);
}
.respublica .action {
  background-color: rgba(50,50,50,1);
}
.respublica .action .button {
  border-color: rgba(36,204,220,1);
  color: rgba(255,255,255,1);
}
.respublica .action .button:hover {
  background-color: rgba(36,204,220,1);
}
.respublica .footer {
  background-color: rgba(50,50,50,1);
}
.respublica .footer i {
  color: rgba(30,167,180,1);
}
.respublica .footer a.column {
  background-color: rgba(30,167,180,.4);
}
.respublica .footer a.column:hover {
  background-color: rgba(30,167,180,1);
}
.respublica .go-form .row {
  border-color: rgba(3,167,180,1);
}
.respublica .go-form .button {
  background-color: rgba(30,167,180,1);
  color: rgba(255,255,255,1);
}
.respublica .go-form .button:hover {
  background-color: rgba(36,204,220,1);
  color: rgba(255,255,255,1);
}

.yarkiy {
  background-color: rgba(12,77,162,1);
  color: rgba(255,255,255,1);
}
.yarkiy header {
  background-color: rgba(12,77,162,1);
}
.yarkiy .video {
  background-image: url("../../build/img/yarkiy-head.jpg");
}
.yarkiy .head .filter {
  background-color: rgba(12,77,162,.45);
}
.yarkiy .logo {
  max-width: 220px;
}
.yarkiy .devider {
  fill: rgba(255,213,3,1);
}
.yarkiy .button {
  border-color: rgba(255,213,3,1);
}
.yarkiy .button:hover {
  background-color: rgba(255,213,3,1);
}
.yarkiy .target {
  background-image: url("../../build/img/yarkiy-1.jpg");
}
.yarkiy .target .filter {
  background-color: rgba(12,77,162,.35);
}
.yarkiy .work {
  background-color: rgba(255,213,3,1);
}
.yarkiy .result {
  background-image: url("../../build/img/yarkiy-2.jpg");
  background-size: cover;
}
.yarkiy .result .filter {
  background-color: rgba(0,0,0,.0);
}
.yarkiy .result-2 {
  background-color: rgba(8,95,209,1);
}
.yarkiy .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/yarkiy-3.jpg");
  background-size: cover;
}
.yarkiy .result-3 .filter {
  background-color: rgba(12,77,162,.1);
}
.yarkiy .action .box {
  background-color: rgba(12,77,162,1);
}
.yarkiy .action .box .button {
  border-color: rgba(255,213,3,1);
}
.yarkiy .action .box .button:hover {
  background-color: rgba(255,213,3,1);
}
.yarkiy .footer {
  background-color: rgba(12,77,162,1);
}
.yarkiy .footer i {
  color: rgba(255,213,3,1);
}
.yarkiy .footer a.column {
  background-color: rgba(8,95,209,.4);
}
.yarkiy .footer a.column:hover {
  background-color:rgba(8,95,209,1);
}
.yarkiy .go-form .row {
  border-color: rgba(255,213,3,1);
}
.yarkiy .go-form .button {
  background-color:rgba(255,213,3,1);
}
.yarkiy .go-form .button:hover {
  background-color: rgba(255,223,63,1);;
}

.payot {
  background-color: rgba(45,45,45,1);
  color: rgba(255,255,255,1);
}
.payot header {
  background-color: rgba(45,45,45,1);
}
.payot .video {
  background-image: url("../../build/img/payot-head.jpg");
}
.payot .head .filter {
  background-color: rgba(45,45,45,.6);
}
.payot .logo {
  max-width: 315px;
}
.payot .devider {
  fill: rgba(176,84,90,1);
}
.payot .button {
  border-color: rgba(176,84,90,1);
}
.payot .button:hover {
  background-color: rgba(176,84,90,1);
}
.payot .target {
  background-image: url("../../build/img/payot-1.jpg");
}
.payot .target .filter {
  background-color: rgba(45,45,45,.7);
}
.payot .work {
  background-color: rgba(176,84,90,1);
}
.payot .result {
  background-image: url("../../build/img/payot-2.jpg");
  background-size: cover;
}
.payot .result .filter {
  background-color: rgba(0,0,0,.0);
}
.payot .result-2 {
  background-color: rgba(175,172,166,1);
}
.payot .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/payot-3.jpg");
  background-size: cover;
}
.payot .result-3 .filter {
  background-color: rgba(45,45,45,.3);
}
.payot .action .box {
  background-color: rgba(45,45,45,1);
}
.payot .action .box .button {
  border-color: rgba(176,84,90,1);
}
.payot .action .box .button:hover {
  background-color: rgba(176,84,90,1);
}
.payot .footer {
  background-color: rgba(45,45,45,1);
}
.payot .footer i {
  color: rgba(175,172,166,1);
}
.payot .footer a.column {
  background-color: rgba(175,172,166,.4);
}
.payot .footer a.column:hover {
  background-color:rgba(175,172,166,1);
}
.payot .go-form .row {
  border-color: rgba(176,84,90,1);
}
.payot .go-form .button {
  background-color:rgba(176,84,90,1);
}
.payot .go-form .button:hover {
  background-color: rgba(134,63,68,1);;
}

.npfsberbank {
  background-color: rgba(0,112,60,1);
  color: rgba(255,255,255,1);
}
.npfsberbank header {
  background-color: rgba(0,112,60,1);
}
.npfsberbank .video {
  background-image: url("../../build/img/npfsberbank-head.jpg");
  background-position: top center;
  color: rgba(255,255,255,1);
}
.npfsberbank .head .filter {
  background-color: rgba(61,59,46,.4);
}
.npfsberbank .logo {
  max-width: 315px;
}
.npfsberbank .devider {
  fill: rgba(0,112,60,1);
}
.npfsberbank .button {
  border-color: rgba(0,112,60,1);
  color: rgba(255,255,255,1);
}
.npfsberbank .button:hover {
  background-color: rgba(0,112,60,1);
  color: rgba(255,255,255,1);
}
.npfsberbank .target {
  background-image: url("../../build/img/npfsberbank-1.jpg");
  background-position: center;
}
.npfsberbank .target .filter {
  background-color: rgba(61,59,46,.4);
}
.npfsberbank .work {
  background-color: rgba(122,179,60,1);
}
.npfsberbank .big {
  background-image: url("../../build/img/npfsberbank-2.jpg");
  background-position: center top;
  background-size: cover;
}
.npfsberbank .box {
  background-color: rgba(0,112,60,1);
}
.npfsberbank .result-1 {
  background-color: rgba(189,205,73,1);
}
.npfsberbank .action {
  background-color: rgba(0,112,60,1);
}
.npfsberbank .action .button {
  border-color: rgba(122,179,60,1);
  color: rgba(255,255,255,1);
}
.npfsberbank .action .button:hover {
  background-color: rgba(122,179,60,1);
}
.npfsberbank .footer {
  background-color: rgba(0,112,60,1);
}
.npfsberbank .footer i {
  color: rgba(189,205,73,1);
}
.npfsberbank .footer a.column {
  background-color: rgba(122,179,60,.4);
}
.npfsberbank .footer a.column:hover {
  background-color: rgba(122,179,60,1);
}
.npfsberbank .go-form .row {
  border-color: rgba(122,179,60,1);
}
.npfsberbank .go-form .button {
  background-color: rgba(122,179,60,1);
  color: rgba(255,255,255,1);
}
.npfsberbank .go-form .button:hover {
  background-color: rgba(189,205,73,1);
  color: rgba(255,255,255,1);
}

.novostroev {
  background-color: rgba(26,27,40,1);
  color: rgba(255,255,255,1);
}
.novostroev header {
  background-color: rgba(26,27,40,1);
}
.novostroev .video {
  background-image: url("../../build/img/novostroev-head.jpg");
}
.novostroev .head .filter {
  background-color: rgba(26,27,40,.6);
}
.novostroev .logo {
  max-width: 315px;
}
.novostroev .devider {
  fill: rgba(255,203,0,1);
}
.novostroev .button {
  border-color: rgba(255,203,0,1);
}
.novostroev .button:hover {
  background-color: rgba(255,203,0,1);
}
.novostroev .target {
  background-image: url("../../build/img/novostroev-1.jpg");
}
.novostroev .target .filter {
  background-color: rgba(26,27,40,.7);
}
.novostroev .work {
  background-color: rgba(255,203,0,1);
}
.novostroev .result {
  background-image: url("../../build/img/novostroev-2.jpg");
  background-size: cover;
}
.novostroev .result .filter {
  background-color: rgba(0,0,0,.0);
}
.novostroev .result-2 {
  background-color: rgba(64,67,99,1);
}
.novostroev .result-3 {
  color: rgba(255,255,255,1);
  background-image: url("../../build/img/novostroev-3.jpg");
  background-size: cover;
}
.novostroev .result-3 .filter {
  background-color: rgba(0,0,0,.0);
}
.novostroev .action .box {
  background-color: rgba(26,27,40,1);
}
.novostroev .action .box .button {
  border-color: rgba(255,203,0,1);
}
.novostroev .action .box .button:hover {
  background-color: rgba(255,203,0,1);
}
.novostroev .footer {
  background-color: rgba(45,45,45,1);
}
.novostroev .footer i {
  color: rgba(64,67,99,1);
}
.novostroev .footer a.column {
  background-color: rgba(64,67,99,.3);
}
.novostroev .footer a.column:hover {
  background-color:rgba(64,67,99,1);
}
.novostroev .go-form .row {
  border-color: rgba(64,67,99,1);
}
.novostroev .go-form .button {
  background-color:rgba(64,67,99,1);
}
.novostroev .go-form .button:hover {
  background-color: rgba(96,100,147,1);
}

@media screen and (min-width: 320px) {
  .work-list .text {
    min-height: 320px;
  }
  .portfolio_list_head img {
    margin: 0 auto;
    margin-bottom: 0;
  }
  .portfolio_list nav.active {
    background-color: rgba(0,11,53,1);
  }
  .infotex72 nav.active {
    background-color: rgba(0,90,96,1);
  }
  .metrika72 nav.active {
    background-color: rgba(81,77,124,1);
  }
  .navigator nav.active {
    background-color: rgba(72,149,66,1);
  }
  .kobilkin nav.active {
    background-color: rgba(7,56,122,1);
  }
  .assorti nav.active {
    background-color: rgba(92,4,5,1);
  }
  .assorti .delimiter {
    background-color: rgba(92,4,5,1);
  }
  .infotex72 .delimiter {
    background-color: rgba(0,118,136,1);
  }
  .kobilkin .work {
    padding-bottom: 90px;
  }
  .assorti .result-2 {
    background-image: none;
  }
  .urbanlife nav.active {
    background-color: rgba(203,50,70,1);
  }
  .urbanlife .delimiter {
    background-color: rgba(203,50,70,1);
  }
  .interzvuk nav.active {
    background-color: rgba(137,13,29,1);
  }
  .trimet nav.active {
    background-color: rgba(0,30,116,1);
  }
  .yanao nav.active {
    background-color: rgba(22,56,114,1);
  }
  .slb nav.active {
    background-color: rgba(244,127,0,1);
  }
  .dompionerov nav.active {
    background-color: rgba(226,25,43,1);
  }
  .green72 nav.active {
    background-color: rgba(183,210,62,1);
  }
  .garmonya nav.active {
    background-color: rgba(249,138,28,1);
  }
  .anna-manchini nav.active {
    background-color: rgba(32,32,32,1);
  }
  .gagliardi nav.active {
    background-color: rgba(40,35,57,1);
  }
  .sibercat nav.active {
    background-color: rgba(249,164,0,1);
  }
  .gletcher nav.active {
    background-color: rgba(55,102,153,1);
  }
  .urcollegia nav.active {
    background-color: rgba(111,146,208,1);
  }
  .enko nav.active {
    background-color: rgba(2,159,241,1);
  }
  .bikini nav.active {
    background-color: rgba(205,38,93,1);
  }
  .followme nav.active {
    background-color: rgba(34,50,65,1);
  }
  .likeeat nav.active {
    background-color: rgba(78, 108, 13, 1);
  }
  .stroitel nav.active {
    background-color: rgba(88, 124, 51, 1);
  }
  .trimet2 nav.active {
    background-color: rgba(0,0,0,1);
  }
  .edy4you nav.active {
    background-color: rgba(255, 147, 0, 1);
  }
  .respublica nav.active {
    background-color: rgba(30, 167, 180, 1);
  }

  .yarkiy nav.active {
    background-color: rgba(8, 95, 209, 1);
  }

  .payot nav.active {
    background-color: rgba(176, 84, 90, 1);
  }

  .npfsberbank nav.active {
    background-color: rgba(122, 179, 60, 1);
  }

  .novostroev nav.active {
    background-color: rgba(64, 67, 99, 1);
  }
  nav.active {
    background-color: rgba(0,11,53,1);
  }
}
@media screen and (min-width: 768px) {
  .work-list .text {
    height: 100%;
    min-height: 1px;
  }
  .portfolio_list_head img {
    margin: 0 auto;
    margin-bottom: -82px;
  }
}
@media screen and (min-width: 1024px) {
  .assorti .result-2 {
    background-image: url("../../build/img/assorti-2.png");
  }
  .infotex72 .delimiter {
    background-color: rgba(0,118,136,0);
  }
  .assorti .delimiter {
    background-color: rgba(92,4,5,0);
  }
  .urbanlife .delimiter {
    background-color: rgba(92,4,5,0);
  }
}
